@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?r7o2e8');
    src:  url('../fonts/icomoon.eot?r7o2e8#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?r7o2e8') format('truetype'),
      url('../fonts/icomoon.woff?r7o2e8') format('woff'),
      url('../fonts/icomoon.svg?r7o2e8#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-instagram:before {
    content: "\ea92";
  }
  .icon-twitter:before {
    content: "\ea96";
  }
  .icon-github:before {
    content: "\eab0";
  }


  /* ---------------------------- VARIABLES */
:root {
    --color-blue: #1C2127;
}
/* ---------------------------- VARIABLES */



html, body {
    padding: 0;
    margin: 0;
    font-family: Helvetica;
    background-color: hsl(210, 46%, 95%);
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

html::-webkit-scrollbar-thumb {
    background: rgb(206, 205, 205);
    border-radius: 4px;
}

html::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

html::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
}

html::-webkit-scrollbar-track:hover,
html::-webkit-scrollbar-track:active {
    background: #d4d4d4;
}

/* ---------------------------- NAVBAR */

.nav {
    background-color: var(--color-blue);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.img-container {
    width: 40%;
}

.img-container img {
    width: 100%;
    margin-left: 5%;
}

.nav ul {
    display: flex;
    justify-self: right;
    padding-right: 20px;
}

.nav ul li {
    list-style: none;
    padding-right: 20px;
}

.nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.nav ul li a:hover {
    color: rgb(199, 198, 198);
}


/* ---------------------------- NAVBAR */

/* ---------------------------- HERO */

.hero {
    height: 84.8vh;
    display: grid;
    grid-template-rows: 1 1fr;
}

.hero-title {
    text-align: center;
    align-self: center;
}

.hero-title h1 {
    font-family: fantasy;
    font-weight: 300;
    letter-spacing: 1px;
}

.figure {
    width: 100%;
    text-align: center;
}

.figure img {
    width: 20%;
    border-radius: 5px;
    transition: 0.3s;
}

.figure img:hover {
    /* width: 21%;
    transition: 0.1s; */
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.3s;
}

/* ---------------------------- HERO */

/* ---------------------------- PROJECTS */

.projects {
    display: grid;
    grid-template-rows: .1fr 1fr;
}

.title {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.projects-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 1px;
    width: 70%;
    justify-items: center;
    align-items: center;
    margin: 25px 0;
    padding: 20px;
}

.project-text {
    display: grid;
    grid-template-rows: .6fr .2fr 1fr;
}

.project-text h3 a {
    color: black;
    text-decoration: none;
}

.project-img a {
    display: flex;
    justify-content: center;
}

/* ---------------------------- PROJECTS */

/* ---------------------------- TOOLS */

.tools {
    margin-bottom: 1%;
}

.tools-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
    margin-bottom: 100px;
}

.tools-cont {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
}

.tools-cont figure {
    margin: 0;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.tools-cont figure img {
    width: 20%;
    transition: .1s;
}

.tools-cont figure img:hover {
    -webkit-transform: scale(1.6);
    -ms-transform: scale(1.6);
    transform: scale(1.6);
    transition: 0.1s;
}


/* ---------------------------- TOOLS */

/* ---------------------------- CONTACT */

.contact {
    height: 20vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    background-color: var(--color-blue);
}

.info {
    color: white;
}

.social ul {
    list-style: none;
    display: flex;
}

.social ul li {
    margin-left: 45px;
}

.social ul li a {
    color:  white;
    text-decoration: none;
    font-size: 38px;
}

.social ul li a:hover {
    color: rgb(199, 198, 198);
}

/* ---------------------------- CONTACT */
  
/* ---------------------------- RESPONSIVE */

@media screen and (max-width: 1000px) {
    
    .nav ul li a {
        font-size: .9em;
    }
    .img-container  a img {
        width: 120%;
    }

    .hero-title h1 {
        font-size: 20px;
    }
    .hero .figure img {
        width: 25%;
    }
    
    .project-text {
        grid-template-rows: .4fr .1fr .2fr;
    }

    .social {
        margin-right: 25%;
    }
    .social ul li a {
        font-size: 28px;
    }
}

@media screen and (max-width: 620px) {
    .nav {
        display: grid;
        grid-template-columns: 1fr;
    }
    .img-container {
        display: flex;
        justify-self: center;
        align-self: center;
        margin-right: 8%;
    }
    .nav ul {
        display: flex;
        justify-self: center;
    }

    .hero .figure img {
        width: 35%;
    }
    .hero-title h1 {
        font-size: 1.1em;
    }

    .projects-cards {
        margin-top: -45px;
    }
    .project-text {
        grid-template-rows: .3fr .1fr .2fr;
    }

    .tools-cont {
        grid-template-columns: repeat(3, 1fr);
    }

    .contact .info {
        font-size: .7em;
    }
}

@media screen and (max-width: 550px) {
    .hero-title {
        margin-top: -60px;
    }
    .hero .figure img {
        width: 75%;
    }

    .project {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
    }
    .project-img img {
        width: 100%;
    }

    .contact {
        height: 10vh;
    }
    .contact .info {
        margin-left: 5px;
    }
    .social ul li {
        margin-left: 15px;
    }
}

@media screen and (min-width: 1600px) {
    .nav .img-container {
        width: 30%;
    }
}

/* ---------------------------- RESPONSIVE */